#app {
    height: 100vh;
    text-align: center;
}

.wizard-navigate-button-container {
    position: fixed;
    bottom: 20px;
    left: 20px;
    right: 20px;
    display: flex;
    justify-content: flex-end;
}

.wizard-navigate-button-container button:first-child {
    margin-right: auto;
}

.wizard-navigate-button-container button:last-child {
    margin-left: 10px;
}

.wizard-navigate-button-container button {
    color: white;
    border: 2px solid;
    background-color: cadetblue;
    border-color: cadetblue;
    border-radius: 1.5vh;
    font-size: large;
    transition: background-color 0.1s, color 0.1s;
    &[aria-disabled="true"] {
        opacity: 0;
        cursor: not-allowed;
    }
}

.wizard-navigate-button-container button:hover {
    background-color: white;
    color: cadetblue;
}

.path-selector {
    height: max-content;
    display: flex;
    justify-content: center;
    height: 8vh;
}

.path-selector #install-path {
    width: 50%;
    font-size: large;
    padding: 5px;
}

.path-selector #select-path-button {
    font-size: large;
    padding: 5px;
    margin-left: 5px;

    color: white;
    border: 2px solid;
    background-color: cadetblue;
    border-color: cadetblue;
    border-radius: 1.5vh;
    transition: background-color 0.1s, color 0.1s;
}

.path-selector #select-path-button:hover {
    background-color: white;
    color: cadetblue;
}